.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 25px;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    transition-timing-function: ease-out;
    transition: all 0.5s;
}

.nav_blur {
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(5px);
}

.nav_logo {
    position: fixed;
    left: 20px;
    width: 90px;
    padding-bottom: 5px;
    object-fit: contain;
    background:none;
    border:none;
}

.nav_logo:hover {
    cursor: pointer;
}

.nav input[type=text] {
    position:absolute;
    right:50px;
    padding: 5px 15px;
    margin-right: 20px;
    background: rgba(25, 25, 25, 0.75);
    font-size:16px;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    color:white;
    
}

.nav input[type=text]::placeholder {
    color:rgba(150, 150, 150, 1);
}